/* add your CSS here */
body{
  font-family: Helvetica, Arial, sans-serif;
}

.container{
  margin: auto 20%;
  width:50%;
  border: 1px solid black;
  border-radius: 2%;
  box-shadow: 5px 5px 20px #d2d2d2;
  background-color:#f4f4f4;
}

  .center{
    margin-left:15%;

  }

    .subContainer{
      border: 1px solid #cacaca;
      /*margin-left:2%;*/
      margin: 5% 20%;
      padding:2%;
      width:66%;
      position:relative;
      right:20%;

    }

    img{
      width:70%;
    }

    #italic{
      font-style: italic;
    }

    li{
      list-style:none;
    }
    .bold{
      font-weight:bold;
    }
