/* add your CSS here */
body {
/* first 3 lines css reset due to browser default stylesheet behaving differently*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 350px;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 5px 5px 20px #d2d2d2;
    background-color: #f4f4f4;
}

.subContainer {
      /*margin-left:2%;*/
    width: 100%;
    margin-right: 2px;
}

h1, img, .subContainer {
    padding: 5px;
}

img {
    display: block;
    margin: 0 auto;
}

#italic {
    font-style: italic;
}

li {
    list-style: none;
}

.bold {
    font-weight: bold;
}
